.editContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

.editForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
    background-color: #fcfdff;
}

.first-lastName {
    display: flex;
    gap: 1rem;
}

input {
    border-radius: 0.8rem;
    border: none;
    padding: 0.8rem;
    box-shadow: 00px 00px 100px rgba(58, 3, 255, 0.1);
}
.submitEdit {
    color: #fcfdff;
    background-color: rgb(0, 119, 255);
    transition: 0.3s;
}.submitEdit:hover {
    color: #fcfdff;
    background-color: rgb(0, 89, 190);
}.submitEdit:active {
    color: #fcfdff;
    background-color: rgb(0, 63, 134);
}