/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
  }
  
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 350px;
    height: 100vh;
    min-height: 50vh;
    background-color: #0044ff03;
}

.leftSide {
    height: 97.5vh;
    border-radius: 0.8rem;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(18, 0, 43, 0.5)), url('../images/backGrounds/cyberpunk.png');
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.rightSide {
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leftSide p {
    line-height: 1.4; /* یا مثلاً 2 برای فاصله بیشتر */
}

.headerColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
}

.logoImg {
    margin: 2rem;
    height: 3rem;
}

.bottomColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    font-family: 'poppins';
    margin-bottom: 2rem;
}

.titleDesBox {
    height: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    text-align: center;
    font-size: 1.5rem;
}
.des {
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
    font-weight: 300;
}
.signBox {
    display: flex;
    gap: 0.3rem;
    opacity: 70%;
    font-weight: 300;
}

.emoji {
    height: 0.8rem;
}

.bottomColumn .sign {
    text-align: center;
    font-size: 0.7rem;
}

.rows {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    gap: 1rem;
}

.hello {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    font-weight: 600;
 
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.75rem;
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    margin: auto;
    align-items: center;
}

.formLogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formLogo {
    height: 3rem;
}
.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    width: 100%;
}

.signIn {
    font-size: 2.2rem;
    font-weight: 600;
    max-width: 100%;
    color: #192c5f;
    font-family: 'poppins';
}

.loginP {
    color: #4e4872;
    font-size: 0.9rem;
}

.headerTitle a {
    color: #8c97b6;
}

.inputs {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    flex-direction: column;
    align-items: center;
}

.firstLastName {
    display: flex;
    gap: 1rem;
}

.inputs input{
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.8rem;
    font-family: 'poppins', 'dana';
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 00px 2px 8px rgb(44, 54, 68, 0.1); */
}

.inputs input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.inputs input:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(0, 73, 192, 0.2)
}
.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  padding-right: 0.8rem;
  height: 3rem;
  box-shadow: 0 2px 8px rgba(44, 54, 68, 0.05);
}

#userPassword {
  flex: 1;
  border: none;
  outline: none;
  font-family: 'poppins', 'dana';
  font-size: 0.9rem;
  background: transparent;
}

#userPassword:focus {
    box-shadow: none;
}

.password-container.focused {
    box-shadow: 0 0 10px rgba(0, 73, 192, 0.3);
    border-radius: 0.8rem;
    transition: 0.3s;
}

#togglePass {
    display: flex;
    align-items: center;
    height: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 5px;
    margin-left: auto; /* چشم رو بچسبونه به سمت راست */
    color: #535475;
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.passwordRules, .emailRules {
    display: none;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    font-family: 'poppins';
}


.invalid {
    display: none;
    font-family: 'poppins';
    font-size: 0.7rem;
    color: red;
}


.checkBoxDiv {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#CBcolumn {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.CBTerms {
    color: #484972;
    font-size: 0.8rem;
}

.checkBoxDiv a {
    color: #928cb6;
}

.customCheckBox {
    display: flex;
    align-items: center;
}

.checkBox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkMark {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 0.1rem solid #0062ff8f;
    border-radius: 4px;
    align-items: center;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


input:checked + .checkMark {
    background-color: #1d59ff;
    border-color: #003cff;
}

.checkMark::after {
  content: "";
  position: absolute;
  display: none;
}

input:checked + .checkMark::after {
  display: block;
  left: 5px;
  top: 0.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.submitBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
#submit-validation {
    z-index: -1;
}

#submit
,.google
,.apple {
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    border-radius: 0.8rem;
    font-family: 'poppins';
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.9rem;
}
#submit {
    background-color: #0062ff;
    box-shadow: 00px 20px 60px rgb(0, 98, 255, 0.5);

}

#submit:hover {
    transform: scale(0.97);
    background-color: #0049c0;
    box-shadow: 00px 20px 60px rgb(0, 98, 255, 0.4);

}

#submit:active {
    transform: scale(0.95);
    background-color: #001f52;
    box-shadow: 00px 20px 60px rgb(0, 98, 255, 0.1);
    
}

.otherBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.google, .apple {  
    text-align: center;
    text-decoration: none;
    background-color: #001f52;
}

.google:hover, .apple:hover {
    background-color: white;
    color: #001f52;
}

.icon {
    position: absolute;
    height: 14rem;
    z-index: -98;
    top: 7.5rem;
    right: 1rem;
    filter: blur(8rem);
    opacity: 40%;
    fill: #4400ff;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.divider::before, .divider::after {
    flex: 1;
    content: '';
    width: 120px;
    height: 0.01px;
    padding: 1px;
    background-color: #aeb0cc;
    margin: 5px;
}
.divider p {
    font-size: 0.9rem;
    color: #aeb0cc;
}


color {
    color: red;
    color: #00c500;
    color: rgb(39, 39, 39);
}


