* {
    margin: 00px;
    padding: 00px;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* header styles */

header {
    height: 8rem;
    width: 100%;
    display: flex;
    position: fixed;
    gap: 1rem;
    background-color: #fcfdff;
    box-shadow: 00px 10px 20px rgba(0, 0, 0, 0.05);
    z-index: 99;
}


.row1, .row2, .row3 {
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.row1 img {
    height: 3rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
  
}

.nav-links li a {
    text-decoration: none;
    color: #192c5f;
}


/* middle icon ball */


.icon {
    position: fixed;
    height: 14rem;
    z-index: 1;
    top: 50%;
    right: 40%;
    filter: blur(20rem);
    opacity: 100%;
    fill: #0033ff;
}


/* main styles */


main {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    z-index: 3;
    background-color: #fcfdff;
}

.title {
    font-family: 'poppins';
    font-weight: bold;
    font-size: 2.5rem;
    color: #192c5f;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userListElem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
    padding: 1rem;

}
.newUserElem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    border-radius: 0.8rem;
    padding: 2rem;
    background-color: #fcfdff;
    box-shadow: 00px 10px 20px #4400ff0d;
}

.newUserName {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: #192c5f;
}
.newUserPassword span, .newUserEmail span, .newUserId span {
    color: #879ab7;
}



.newUserId, .user-data, .buttons {
    display: flex;
}

.user-data {
    width: 60%;
    flex-direction: column;
    justify-content: left;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    height: 100%;
    width: 30%;
}

button {
    height: 50%;
    width: 25%;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    transition: background 0.3s ease;
  }
  
  .deleteButton {
    background-color: #e03b3b;
    color: white;
  }
  
  .deleteButton:hover {
    background-color: #be2424;
  }
  
  .editButton {
    background-color: #3377ff;
    color: white;
  }
  
  .editButton:hover {
    background-color: #1f5fdf;
  }